body,
html {
  margin: 0;
}

.container {
  /* background: #000; */
  z-index: -10;
  max-width: 100%;
  height: 100%;
}
.video-container {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  z-index: -3;
  background: #000;
}
.video-container video {
  width: 100%;
  z-index: -3;
  /* Try to fix shrinking video */
  /* height:100%; */
  /* object-fit:contain; */
  /* position: relative;  */
  /* right: 0;  */
  /* bottom: 0; */
  /* min-width: 100%;  */
  /* min-height:100%; */
  /* width: auto;  */
  /* height: auto;  */
  /* background-size: cover; */

  /* Diffrent approach of fixing shrinking video */
  /* min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
}
.logo {
  /* filter: brightness(0) invert(1); */
  width: clamp(25px, 6vw, 300px);
  padding: 2vw;
}
.logo-container-media {
  display: none;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom {
  display: none;
}
.menu {
  display: flex;
  justify-content: flex-end;
  padding: 0vw 3vw 0 3vw;
  list-style: none;
  gap: 6vw;
  font-size: clamp(11px, 2vw, 20px); /* pozostawione */
  /* margin-bottom: auto; */
  color: #000000;
}
.menu a {
  color: #000000;
  text-decoration: none;
}

.menu .menu__products-list {
  padding: 0;
  cursor: grab;
}
.products-list {
  padding: 0;
  cursor: grab;
}
ul li {
  cursor: grab;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: clamp(22px, 4vw, 148px); /* unchanged */
  margin: 0;
}
h2 {
  font-size: clamp(
    14px,
    2.2vw,
    28px
  ); /* zmniejszone max i mniej agresywne vw */
}
h3 {
  font-size: clamp(16px, 2.6vw, 30px); /* mniejszy skok na desktopie */
}
h4 {
  font-size: clamp(12px, 1.8vw, 20px);
}
h5 {
  font-size: clamp(10px, 1.4vw, 16px);
}
h6 {
  font-size: clamp(9px, 1vw, 14px);
}
.wrapper {
  background-color: #ffffff;
  /* z-index: -100!important; */
  /* why not working? */
  opacity: 0.5;
}
.adventages-container {
  display: flex;
  font-size: clamp(10px, 1.2vw, 18px); /* zmniejszone max */
  color: #ffffff;
}
.pro-container {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  align-items: center;
  text-align: center;
}
.pro-img {
  border-radius: 50%;
  color: white;
  width: 9vw;
  height: 9vw;
  border: 0.2vw solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-img img {
  width: 6vw;
}
.pro-title {
  text-transform: uppercase;
  font-weight: 800;
}
.pro-title h3 {
  font-size: clamp(14px, 2.4vw, 22px); /* mniejsze na desktopie */
}

.farm {
  color: #000;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(10px, 1.2vw, 18px); /* zmniejszone max */
  padding: 40px;
}
.farm__farm-img {
  width: 15em;
}

/* .farm__farm-title{
    font-size: clamp(10px, 2vw, 72px);
} */

/* .farm__farm-description{
    text-align: center;
} */

/* .chart{
    width: 300px;
} */

/*  correct farm-img size
    correct products-header-img size
    correct products-main padding
*/

/* WTF!? */

.farm__products-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  /* gap: 40px; */
}
.farm__products-container__products-header-description h2 {
  font-size: clamp(12px, 1.4vw, 22px); /* mniejsze max */
}
.farm__products-container__products-header-footer {
  font-size: clamp(10px, 1.1vw, 16px); /* mniejsze max */
}
.farm__products-header-container__products-header-img {
  width: 5em;
  padding: 40px;
}
.farm__products-header-container__wrap {
  display: flex;
  flex-direction: column;
  /* color: aqua; */
  padding: 80px 0px 80px 0px;
}
.farm__products-main-container__products-main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  /* flex-direction: column; */
  gap: 30px;
}
.farm__products-main-container__products-main__products-main-title h3 {
  padding: 20px;
  font-weight: 666;
}
.farm__products-main-container__products-main__products-main-description {
  font-size: clamp(12px, 1.2vw, 18px); /* zmniejszone max */
}

footer {
  background: #000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: clamp(10px, 1.4vw, 18px); /* pozostawione */
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-menu {
  display: flex;
  gap: 50px;
}
.copyright {
  display: flex;
  justify-content: center;
}
span a {
  color: #ffffff;
  text-decoration: none;
}
/* fix shrinking video issue */
/* po ustawieniu max-with 910px o dziwo się naprawia :O */
/* ale musi być też ustawiony top 75px i od max-with 438 znowu nie działa */
/* ! FIX zrobić refaktoring tego video */
@media only screen and (max-width: 910px) {
  .video-container {
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 75px;
    /* why top has white backgroud? */
  }
}
@media only screen and (max-width: 438px) {
   .video-container {
    width: 100%;
    height: 100%;
    top:120px;
   }
}

/* Mobile-S resolution */
@media only screen and (max-width: 320px) {
  .logo-container {
    display: none;
  }
  .logo-container-media {
    display: block;
    position: absolute;
    margin-top: -5px;
  }
  h1 {
    margin-top: 10px;
  }
  .logo-container-media {
    margin-top: 2.5px;
  }
  .video-container {
    top: 100px;
  }
}

/* Mobile < S resolution */
@media only screen and (min-width: 320px) {
  h2 {
    padding: 15px 0px;
  }
}

/* turn off video: */
/* video{ display: none; *{ background: #000; } */
